* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgb(31, 150, 124) 15%,
    rgb(223, 215, 203) 15%
  );
}
.container {
  height: 85%;
  background-color: whitesmoke;
}

#user {
  border: 1px solid black;
}
