* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background */
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgb(31, 150, 124) 15%,
    rgb(223, 215, 203) 15%
  );
}
/* app */
.container {
  height: 85%;
  background-color: whitesmoke;
}

#friend-list {
  max-height: 500px;
}
/* seconda riga */
.left-col {
  height: 492px;
}
.main-app {
  height: 492px;
}
.message-box {
  height: 90%;
  background-image: url(../img/mine.jpg);
}
.chat {
  height: 10%;
  background-color: whitesmoke;
  justify-self: center;
}
